* {
  font-family: Montserrat;
}
body {
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  align-items: center;
  background-color: #4d4d4ded;
  height: 5rem;
  margin-bottom: 2rem;
}
.appContainer {
  max-width: 1000px;
  margin-left: 50px;
}
h1 {
  color: white;
  margin-left: 50px;
}
.tableContainer {
}

.buttonFilterContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.filterContainer select {
  padding: 6px;
  border-radius: 5px;
}

th {
  background-color: #fbd859;
  cursor: pointer;
  padding: 5px;
  max-width: 120px;
}
td {
  text-align: center;
}
tr:nth-child(even) {
  background-color: #d3d3d3;
}
tr:nth-child(odd) {
  background-color: #f0f0f0;
}
tbody tr:hover {
  background-color: #2d2d2d;
  color: #f2f2f2;
}

.columnFixedWidth {
  min-width: 140px;
}
.loaderContainer {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  width: 96px;
  height: 96px;
  border: 10px solid #000000;
  border-bottom-color: #fbd859;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 0.7s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
